body {
  background-color: #ff6666;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.logo {
  text-align: center;
  padding-top: 30px;
}

#menu {
  width: 80%;
}

.container img {
    width: 200px;
    height: auto;
}
